<li class="chats-card {{class}}">
    <div class="chats-card__container">
        <div class="chats-card__img-block">
            <div class="chats-card__img"></div>
        </div>
        <div class="chats-card__content-block">
            <div class="chats-card__info">
                <div class="chats-card__user-name">{{name}}</div>
                <div class="chats-card__date">{{dateMes}}</div>
            </div>
            <div class="chats-card__preview">
                <div class="chats-card__message">{{message}}</div>
                {{#if mark}}
                    <div class="chats-card__mark">{{mark}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</li>